@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0f0f;
  color: #f0f8ff;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #9333ea grey;
}

body::-webkit-scrollbar-track {
  background: rgb(19, 19, 19);
}

body::-webkit-scrollbar-thumb {
  background-color: #9333ea;
  border-radius: 6px;
  border: 3px solid black;
}

input[type="range"] {
  margin: 18px 0;
  width: 100%;
  background: #0f0f0f;
  accent-color: #9333ea;
}
